<a href="https://colab.research.google.com/github/mp4145/data-puzzle-earths-PSA/blob/main/Data_Puzzle_Earth's_PSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro

Here's is the message from Earth:
'I remember that if you sort the countries (or dependencies) [Guinea, Iran, Trinidad And Tobago, Honduras, Lebanon, Ethiopia, Niger, Afghanistan, India, American Samoa, Cuba, Gabon, Nicaragua, Channel Islands, Martinique] by density of population (DESCENDING) and then only look at the first letter of each country, you'll get my message back!! Can you help me please?'

To help our planet, we preloaded world population and geographical data from the website Worldometer (https://worldometers.info/). Use it to do what the earth says and decode the message!

In [ ]:
import pandas as pd

countries = ['Guinea', 'Iran', 'Trinidad and Tobago', 'Honduras', 'Lebanon',
             'Ethiopia', 'Niger', 'Afghanistan', 'India', 'American Samoa',
             'Cuba', 'Gabon', 'Nicaragua', 'Channel Islands', 'Martinique']

country_pop = pd.read_csv('https://raw.githubusercontent.com/hyperc54/data-puzzles-assets/master/misc/earth/population_by_country.csv')

In [ ]:
country_pop.head()

  Country (or dependency)  Population (2020)  ... Urban Pop % World Share
0                   China         1440297825  ...        61 %     18.47 %
1                   India         1382345085  ...        35 %     17.70 %
2           United States          331341050  ...        83 %      4.25 %
3               Indonesia          274021604  ...        56 %      3.51 %
4                Pakistan          221612785  ...        35 %      2.83 %

[5 rows x 5 columns]

In [ ]:
country_surface = pd.read_csv('https://raw.githubusercontent.com/hyperc54/data-puzzles-assets/master/misc/earth/surface_by_country.csv')

In [ ]:
country_surface.head()

  Country (or dependency)  Land Area (Km²)
0                   China          9388211
1                   India          2973190
2           United States          9147420
3               Indonesia          1811570
4                Pakistan           770880

In [ ]:
# Your turn now!